<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
	
	<div th:replace="~{base :: menu-top}"></div>
	
	<!-- Page Content-->
	<div class="container px-3 px-lg-5">

		<div class="card">

			<div th:if="${agent.id} != null" class="card-header">agent - Edit</div>
			<div th:if="${agent.id} == null" class="card-header">agent - Insert</div>
			<div class="card-body">
				<form class="row g-3" th:object="${agent}" th:action="@{/agents/save}" method="post" id="frm">
					
					<input type="hidden" th:field="*{id}">

					<div class="input-group col-9">
                        <span class="input-group-text" id="name">
							<i class="icon_color fa-solid fa-person"></i> &nbsp;
							Name
						</span>
                        <input
                            type="text" th:errorclass="is-invalid" class="form-control"
                            th:field="*{name}" placeholder="insert the name of the agent">
                        <div class="invalid-feedback" th:errors="*{name}">Insert a valid name for department</div>
                    </div>
                    
                    <div class="input-group col-9">
                        <span class="input-group-text" id="name">
							<i class="icon_color fa-solid fa-calendar"></i> &nbsp;
							Birth Date
						</span>
                        <input
                            type="date" th:errorclass="is-invalid" class="form-control"
                            th:field="*{birthDate}" placeholder="insert the date of birth of the agent">
                        <div class="invalid-feedback" th:errors="*{birthDate}">Insert a valid birth date for agent</div>
                    </div>

					<div class="col-9">
						<label for="inputDepartment" class="form-label">Department</label> 
						<select id="department" name="departmentId">
							<option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}">Department Name</option>
						</select>
						<div class="invalid-feedback" th:errors="*{birthDate}">Insert a valid department for agent</div>
					</div>

					<div class="col-12">
						<button type="submit" id="save" class="btn btn-primary btn-sm">Save</button>
						<button type="button" class="btn btn-warning btn-sm" id="back" onclick="history.back()">Back</button>
					</div>
				</form>
			</div>
		</div>
		

	</div>
	<!-- End Page Content-->

	

	<script type="text/javascript">

/*  $( "#salvar" ).click(function(event) {
		event.preventDefault();
		var data = $(event.delegateTarget).data();
		var id = data.recordId;
		swal({
			  title: 'Salvar?',
			  text: "Deseja salvar novo servidor?",
			  icon: 'warning',
			  buttons: [true, "Sim Salvar!"]
			}).then((result) => {
			  if (result) {
			 	var frm = $("#frm").submit();
			 	
			   }
			})
	       
	 }); */
 
</script>

</body>
</html>