
body {
	background-color: #333333;
}

.icons-person-color {
	color: #b4b4b4;
}
.logo_emblem {
	width: auto;
	height: 100px;
}

.logo_emblem_bg {
	width: auto;
	height: 600px;
	opacity: 0.1;
}

.float_right {
	float: right;
}