<head th:fragment="head">
 <meta charset="UTF-8"/>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <meta name="description" content="XFILES" />
 <meta name="author" content="Felipe Andre / Ederson Medeiros" />
 <title>XFILES</title>  
 <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
  
 <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /> 
 <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
 <link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet" />
 <link th:href="@{/css/select2.min.css}" rel="stylesheet" />
 <link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
 <link th:href="@{/css/all.min.css}" rel="stylesheet" />
 <link th:href="@{/css/bootstrap-duallistbox.min.css}" rel="stylesheet" />
 <link th:href="@{/css/datatables.min.css}" rel="stylesheet" />
 
 <div th:fragment="jscript">
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script> 
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/locales/bootstrap-datepicker.pt-BR.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
</div>