<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Index: Message from FBI: ' + ${message} + '!'" />
    
    <table>
	  <tr>
	    <th>#</th>
	    <th>Name</th>
	    <th>Department</th>
	  </tr>
	  <tr th:each="rs : ${list}" th:id="'tr' + ${rs.id}">
		<td th:text="${rs.id}"></td>
	    <td th:text="${rs.name}"></td>
	    <td th:text="${rs.department}"></td>
	  </tr>
	</table>

    
    <div th:replace="~{base :: jscript}"></div>
	<script>
    	var URL = '[[@{/}]]api/';
	</script>
</body>
</html>