<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="~{base :: menu-top}"></div>

    <img th:src="@{/images/emblem_bg.png}" class="logo_emblem_bg rounded mx-auto d-block"/>

    <div th:replace="~{base :: jscript}"></div>
	<script>
    	var URL = '[[@{/}]]api/';
	</script>
</body>
</html>