<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Index: Message from FBI: ' + ${message} + '!'" />
    
    <a href="http://localhost:8080/departments/">Departments</a>
    <a href="http://localhost:8080/swagger-ui.html">Acessar Swagger</a>

    
    <div th:replace="~{base :: jscript}"></div>
	<script>
    	var URL = '[[@{/}]]api/';
	</script>
</body>
</html>