<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
	<!-- <div th:replace="~{base :: menu-top}"></div> -->
	<!-- Page Content-->
	<div class="container px-3 px-lg-5">

		<div class="card">
			<div class="card-header">Insert</div>
			<div class="card-body">
				<form class="row g-3" th:object="${department}"
					th:action="@{/departments/save}" method="post" id="frm">
					<input type="hidden" th:field="*{id}">

					<div class="col-9">
						<label for="inputName" class="form-label">Name</label> 
						<input
							type="text" th:errorclass="is-invalid" class="form-control"
							th:field="*{name}" placeholder="insert the name of the department">
						<div class="invalid-feedback" th:errors="*{name}">Insert a valid name for department</div>
					</div>
					<div class="col-9">
						<label for="inputEmail" class="form-label">E-Mail</label> 
						<input
							type="text" th:errorclass="is-invalid" class="form-control"
							th:field="*{email}" placeholder="insert the email of the department">
						<div class="invalid-feedback" th:errors="*{email}">Insert a valid email for department</div>
					</div>

					<div class="col-12">
						<button type="submit" id="save" class="btn btn-primary btn-sm">Insert</button>
						<button type="button" class="btn btn-warning btn-sm" id="back"
							onclick="history.back()">Back</button>
					</div>
				</form>
			</div>
		</div>

	</div>
	<!-- End Page Content-->

	<div th:replace="~{base :: jscript}"></div>

	<script type="text/javascript">

/*  $( "#salvar" ).click(function(event) {
		event.preventDefault();
		var data = $(event.delegateTarget).data();
		var id = data.recordId;
		swal({
			  title: 'Salvar?',
			  text: "Deseja salvar novo servidor?",
			  icon: 'warning',
			  buttons: [true, "Sim Salvar!"]
			}).then((result) => {
			  if (result) {
			 	var frm = $("#frm").submit();
			 	
			   }
			})
	       
	 }); */
 
</script>

</body>
</html>