<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="~{base :: menu-top}"></div>
	
	<div class="card col-12">
		<div class="card-header"> <i class="fa-solid fa-briefcase"></i> Departments 
			<a class="btn btn-secondary btn-sm float_right" href="/departments/new" role="button"> 
				<i class="fa-solid fa-circle-plus"></i>
				Create New
			</a>
		</div>
		
		<div class="card-body">
		   <h5 class="card-title">List of Departments </h5>
		   
		<table id="tb1" class="table table-striped table-hover">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Creation Date</th>
				<th>E-Mail</th>
				<th>Agents Designated</th>
   			<th>Actions</th>
			</thead>
			<tbody>
				<tr th:each="rs : ${list}" th:id="'tr' + ${rs.id}">
					<th scope="row" th:text="${rs.id}"></td>
					<td>

						<i class="icon_color fa fa-briefcase"></i>
						<span th:text="${rs.name}"></span>
					</td>
        
					<td>
						<i class="icon_color fa fa-calendar"></i>
						<span th:id="'date' + ${rs.id}" th:text="${#dates.format(rs.creationDate, 'dd/MM/yyyy hh:mm:ss')}" />						
						<span th:id="'badge' + ${rs.id}"></span>
					</td>
        
					<td>
						<i class="icon_color fa fa-envelope"></i>
						<span th:text="${rs.email}"></span>
					</td>
        
          <td>
						<ul class="list-group">
							<li class="list-group-item" th:each="agent : ${rs.agents}" th:text="${agent.name}"></li>
						</ul>
					</td>
        
					<td>
						<a th:href="@{'/departments/setupEdit/'+${rs.id}}" class="btn btn-sm btn-secondary" role="button" title="Edit">
							<i class="icon_color fa fa-pencil"></i>	
						</a>

						<a href="#" th:id="'remove'+${rs.id}" class="btn btn-sm btn-danger delete-btn"
						th:data-record-id="${rs.id}" 
						th:data-record-description="${rs.name}">
						<i class="fa fa-trash"></i>
						</a>
        </td>
        
			 	</tr>
			 </tbody>
		</table>
		
		 </div>
	</div>
    
    <div th:replace="~{base :: jscript}"></div>
	<script>
    	var URL = '[[@{/}]]api/';
    	
    	$(document).ready(function () {
    	    $('#tb1').DataTable({
    	    	"scrollY": "200px",
    	    	"scrollCollapse": true,
    	    	"paging": false,
    	    	"responsive": true
    	    });
    	    
    	    $('[id^="date"]').each(function(){
    	    	var date_full = $(this).text().substring(0, 10);
    	    	const date = parseDate(date_full);
    	    	var today = new Date();
    	    	today.setHours(0,0,0,0);
    	    	var same = date.getTime() === today.getTime();
    	    	if(same){
    	    		$(this).append(" <span class='badge rounded-pill text-bg-primary'>Created Today</span>");
    	    	}
    	    });

    	});

		$("[id*='remove']").click(function(event) {
			var data = $(event.delegateTarget).data();
			var id = data.recordId;
			var description = data.recordDescription;
			
			Swal.fire({
				title: 'Confirmation',
				html: 'Are you sure you want to remove <b>' + description + '</b>?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Remove',
				confirmButtonColor: '#FF3333',
				cancelButtonText: 'Cancel',
				cancelButtonColor: '#999900'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '/api/departments/' + id,
						type: 'DELETE',
						success: function(jsonResponse) {
							var tipomsg = 'success';
							$('#tr'+id).fadeOut(1500);
						},
						error: function(xhr, status, error) {
							//
						}
					});
				}
			});
		});
    	
    	function parseDate(input) {
    		  var parts = input.match(/(\d+)/g);
    		  // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
    		  return new Date(parts[0], parts[1]-1, parts[2]); // months are 0-based
    		}
	</script>
</body>
</html>